Temp
Library
Logs
.vscode
obj
.vs
Build
Assets/RayFire/Plugins/Mac/RFLib_DotNet_2018_osx.dll.meta
Assets/RayFire/Plugins/Mac/RFLib_DotNet_2018_osx.dll
Assets/RayFire/Plugins/Mac/libRF_CNative.bundle.meta
Assets/RayFire/Plugins/Mac/libRF_CNative.bundle
Assets/RayFire/Plugins/Linux/RFLib_DotNet_2018_lin.dll.meta
Assets/RayFire/Plugins/Linux/RFLib_DotNet_2018_lin.dll
Assets/RayFire/Plugins/Linux/libRF_CNative_lin.so.meta
Assets/RayFire/Plugins/Linux/libRF_CNative_lin.so
Assets/RayFire/Plugins/Ios/RFLib_DotNet_2018_ios.dll.meta
Assets/RayFire/Plugins/Ios/RFLib_DotNet_2018_ios.dll
Assets/RayFire/Plugins/Ios/libRF_CNative_ios.a.meta
Assets/RayFire/Plugins/Ios/libRF_CNative_ios.a
Assets/RayFire/Plugins/Android/x86/libRF_CNative_andr.so.meta
Assets/RayFire/Plugins/Android/x86/libRF_CNative_andr.so
Assets/RayFire/Plugins/Android/armeabi-v7a/libRF_CNative_andr.so.meta
Assets/RayFire/Plugins/Android/armeabi-v7a/libRF_CNative_andr.so
Assets/RayFire/Plugins/Android/arm64-v8a/libRF_CNative_andr.so.meta
Assets/RayFire/Plugins/Android/arm64-v8a/libRF_CNative_andr.so
Assets/RayFire/Plugins/Android/x86.meta
Assets/RayFire/Plugins/Android/RFLib_DotNet_2018_andr.dll.meta
Assets/RayFire/Plugins/Android/RFLib_DotNet_2018_andr.dll
Assets/RayFire/Plugins/Android/armeabi-v7a.meta
Assets/RayFire/Plugins/Android/arm64-v8a.meta
Tutorial
Documentation
HowTo
Info/